body{
    /* margin:0 auto; */
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #132116;
    padding:20px;
    border-radius:20px;
}
.output{
    grid-column: 1 / -1;
    background-color: rgba(83, 81, 81, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    width:280px;
    margin-bottom:10px;
    border-radius:10px;
    height:74px;
  }

.output .previous-operand{
    color: rgba(255,255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}
.output .result{
    color: white;
    font-size: 2.5rem;
    margin-top:-13px;
}

.all-buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
}

button:hover{
  background-color: black;
  color:white;
  border:solid 1px white;
}

#equals{
    grid-column:3/5;
}

button{
    font-size:2.5rem;
    border-radius:30px;
    background-color:beige;
}